<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>報告書Finder: 企業・ファンド別</title>
</head>
<body>

{% extends "base.html" %}

{% block content %}

<div class="card" style="width: auto;">
  <ul class="list-group list-group-flush">

      {% for company_key, company_val in company_list.items() %}
      <li class="list-group-item" >
      <button type="button" class="btn btn-link">
          <a href="{{url_for('company_performance', code=company_val)}}">{{company_key}}</a>
      </button>
      </li>
      {% endfor %}


  </ul>
</div>



{% endblock %}


</body>
</html>