<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>報告書Finder</title>
</head>
<body>

{% extends "base.html" %}

{% block content %}


<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">業界別企業一覧</h5>
        <p class="card-text">各企業の有価証券報告書一覧</p>
        <a href="{{ url_for('industry_list') }}" class="btn btn-primary">検索</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ファンド一覧</h5>
        <p class="card-text">各運用会社の有価証券報告書一覧</p>
        <a href="{{ url_for('fund_list') }}" class="btn btn-primary">検索</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}


</body>
</html>